{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Mettre à jour Campus - Sortie.com{% endblock %}

{% block body %}

    <h1 class="display-6 text-center">Mettre à jour {{ site.nom }}</h1>

    <div class="d-flex justify-content-center">
        <div class="border border-0 rounded p-3"
             style="
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: rgba(255,255,255,0.16);
                "
        >
            {{ form_start(form) }}

            {{ form_row(form.nom) }}

            {{ form_widget(form.return) }} {{ form_widget(form.submit) }}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_site_delete', {'id': site.id}) }}" class="btn btn-danger"
                   onclick="return confirmDelete();">
                    <i class="bi bi-trash"></i>
                </a>
                <script>
                    function confirmDelete() {
                        return confirm("Etes-vous sûr de vouloir supprimer ce campus?");
                    }
                </script>
            {% endif %}

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}