{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <h1> Liste des sorties</h1>

    {% for sortie in sorties %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ sortie.nom }}</h5>
                <p class="card-text">Date de la sortie: {{ sortie.dateDebut|date('d/m/Y')}}</p>
                <p class="card-text">Date de clôture: {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
                <p class="card-text">Inscrits: {{ sortie.participants|length }} / {{ sortie.nbMaxInscription }}</p>
                <p class="card-text">Etat: {{ sortie.etat }}</p>
                {% if sortie.participants is defined %}
                    <p class="card-text">Inscrit: {{ (isUserInscrit) ? 'X' : ' ' }}</p>
                {% endif %}
                <p class="card-text">Organisateur: {{ sortie.organisateur.nom }}</p>
                <div>

                    {% if is_granted('ROLE_USER') %}
                        <a  class="btn btn-secondary" type="button" href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Infos</a>
                        {% if isUserInscrit %}
                            <a  class="btn btn-danger" type="button" href="{{ path('app_sortie_desinscription', {'sortie': sortie.id}) }}">Se désinscrire</a>
                        {% else %}
                            <a  class="btn btn-secondary" type="button" href="{{ path('app_sortie_inscription', {'sortie': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if sortie.organisateur is defined %}
{#                            <a class="btn btn-primary" type="button" href="{{ path('app_sortie_update', {'id': sortie.id }) }}">Modifier</a>#}
                            <a class="btn btn-primary" type="button" href="#">Modifier</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
<p>
    {{ isUserInscrit }}
</p>
{% endblock %}
