{% extends 'base.html.twig' %}

{% block title %}Detail Adresse{% endblock %}

{% block body %}

    <br>
    <br>
    <p> Nom Lieu: {{ adresse.nomLieu}}</p>
    <p> Rue: {{ adresse.rue}} </p>
    <p> Code Postal: {{adresse.codePostal}}</p>
    <p> Ville: {{ adresse.ville}}</p>
    <p> Numero de Rue: {{ adresse.numeroRue }}</p>
    <p>Latitude: {{ adresse.latitude }}</p>
    <p>Longitude: {{ adresse.longitude }}</p>

{% endblock %}
