{% extends'base.html.twig' %}

{% block title %}Détails sortie - Sortie.com{% endblock %}

{% block body %}

 <h1 class="display-6 text-center">Détails sortie</h1>

     <p> Nom de la sortie: {{ sortie.nom }}</p>
     <p> Date et heure de la sortie: {{ sortie.dateDebut| date('d/m/y H:i')}} </p>
     <p> Date limite d'inscription: {{ sortie.dateLimiteInscription| date('d/m/y H:i') }}</p>
     <p> Nombre de places: {{ sortie.nbMaxInscription }}</p>
      <p>etat de sortie: {{ sortie.etat }}</p>
     <p> Durée: {{ sortie.duree }}</p>
     <p> Description et infos: {{ sortie.infosSortie }}</p>
     <p>Nom lieu: {{ sortie.adresse.nomLieu }}</p>
     <p> Rue: {{ sortie.adresse.rue}} </p>
     <p> Code Postal: {{sortie.adresse.codePostal}}</p>
     <p> Ville: {{ sortie.adresse.ville}}</p>
     <p> Numero de Rue: {{ sortie.adresse.numeroRue }}</p>
{#     <p>Latitude: {{ sortie.adresse.latitude }}</p>#}
{#     <p>Longitude: {{ sortie.adresse.longitude }}</p>#}

 <a type="button" class="btn btn-primary" href="{{ path('app_sortie_update', {'id' : sortie.id }) }}">Modifier</a>

{% endblock %}