{% extends 'base.html.twig' %}

{% block title %}Utilisateurs - Sortie.com{% endblock %}

{% block body %}
    <header>
        <div class="border border-5 rounded-bottom shadow-sm p-3 text-center bg-body-tertiary"
             style="
            color: #dbeafe;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/040.webp');
            /*background-repeat: no-repeat;*/
            /*background-attachment: fixed;*/
            background-size: cover;
            "
        >
            <h1 class="display-6 text-center"> Gestion des utilisateurs</h1>
        </div>
    </header>

    <div class="justify-content-center">
        <div class="border border-0 rounded p-3"
             style="
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: rgba(255,255,255,0.16);
                "
        >
        <table class="table table-hover" id="userTable">
            <thead>
            <tr>
                <th scope="col">Actif</th>
{#                <th scope="col">Nom</th>#}
{#                <th scope="col">Prenom</th>#}
                <th scope="col">Pseudo</th>
                <th scope="col"></th>
            </tr>
            </thead>


            <tbody class="table-group-divider">
            {% for user in users %}
                <tr style="cursor: pointer" data-href="{{ path('app_profil', {'id': user.id }) }}">
                    <td>
                        {% if user.isActif %}
                            <i class="bi bi-check-circle text-success"></i>
                        {% else %}
                            <i class="bi bi-x-circle text-danger"></i>
                        {% endif %}
                    </td>

{#                    <td> {{ user.nom }} </td>#}
{#                    <td> {{ user.prenom }} </td>#}
                    <td> {{ user.pseudo }} </td>

                    <td>
                        <a class="btn btn-primary" type="button"
                           href="{{ path('app_profil_update', {'id': user.id }) }}">
                            <i class="bi bi-feather"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-secondary" type="button" href="{{ path('app_sortie_liste') }}">
            <i class="bi bi-arrow-return-left"></i>
        </a>
        <a class="btn btn-primary" type="button" href="{{ path('app_profil_creer') }}">
            <i class="bi bi-plus-lg"></i>
        </a>

        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const table = document.getElementById("userTable");
            const rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                row.addEventListener("click", function () {
                    const href = this.getAttribute("data-href");
                    if (href) {
                        window.location.href = href;
                    }
                });
            }
        });
    </script>

{% endblock %}
