{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center">
        <div class="card mb-3 custom-card" style="width: 30rem; ">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if user.photo %}
                        <img src="{{ asset(photo_dir ~ '/' ~ user.photo) }}" class="card-img-top" alt="image"
                             loading="lazy"/>
                    {% else %}
                        <img src="{{ asset(photo_dir ~ '/placeholder_profil_img.png') }}" class="card-img-top"
                             alt="image"
                             loading="lazy"/>
                    {% endif %}
                    <div class="container-fluid d-flex justify-content-center">
                        {% if user.isActif %}
                            <p class="card-text fst-italic">(Profil activé) <i class="bi bi-check-circle text-success"></i></p>
                        {% else %}
                            <p class="card-text fst-italic">(Profil désactivé) <i class="bi bi-x-circle text-danger"></i></p>
                        {% endif %}
                    </div>
                    <div class="container-fluid d-flex justify-content-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="card-text fst-italic">[ {{ user.roles[0] }} ]</p>
                        {% endif %}
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card-header"><h5 class="card-title">Profil de {{ user.pseudo }}</h5></div>
                    <div class="card-body">

                        <p class="card-text">Prenom : {{ user.prenom }}</p>
                        <p class="card-text">Nom : {{ user.nom }}</p>
                        <p class="card-text">Téléphone : {{ user.telephone }}</p>
                        <p class="card-text">Email : {{ user.email }}</p>
                        <p class="card-text fst-italic">Campus : {{ user.site.nom }}</p>

                        <div>
                            <a class="btn btn-secondary" type="button" onclick="history.back()">Retour</a>
                            <a class="btn btn-primary" type="button"
                               href="{{ path('app_profil_update', {'id': user.id }) }}">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
